@page

@section Styles {
    <link rel="stylesheet" asp-href-include="/index.css" />
}

@section Scripts {
    <script type="module" crossorigin asp-src-include="/index.js"></script>
}

<div id="root"></div>